<div class="card"
  [ngClass]="{ 'loading': isLoading }">
  <!-- Card title with badge and company name -->
  <div class="title-container">
    <div class="badge bold">{{symbol}}</div>
    <div class="title placeholder"
      *ngIf="!name"></div>
    <div class="title bold"
      *ngIf="name">{{name}}</div>
  </div>
  <!-- Loading message -->
  <div class="message"
    *ngIf="isLoading">Collecting data ... Please wait a short moment.</div>
  <!-- List of data -->
  <div class="sentiment-list"
    *ngIf="threeMonthSentiments">
    <app-sentiment-informations *ngFor="let monthData of threeMonthSentiments"
      [monthData]="monthData"></app-sentiment-informations>
  </div>
  <!-- Symbol does not exists -->
  <div class="message"
    *ngIf="!isLoading && !threeMonthSentiments.length">We did not found any company for {{ symbol | uppercase }} symbol.
    Please try something else.</div>
</div>
<!-- Go Back -->
<div class="go-back"
  (click)="onClickGoBack()">
  <div class="icon-container">
    <div class="material-icons icon">keyboard_backspace</div>
  </div>
  <div class="text">Back to list of stocks</div>
</div>