@import "src/styles/_colors.scss";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .card {
        width: 950px;
        height: 220px;
        box-sizing: border-box;
        text-align: center;

        &.loading {
            animation: 1.5s shine linear infinite;
            background: $shadow;
            background: linear-gradient(110deg, $shadow 10%, #f5f5f5 20%, $shadow 2%);
            background-size: 200% 100%;
            animation: 1.5s shine linear infinite;
        }

        .title-container {
            display: flex;
            align-items: center;
            margin-top: -50px;
            margin-bottom: 20px;

            .title {
                font-size: 2.5rem;

                &.placeholder {
                    width: 250px;
                    height: 54px;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    animation: 1.5s shine linear infinite;

                    background: $primary-light;
                    background: linear-gradient(110deg, $shadow 10%, #f5f5f5 20%, $shadow 2%);
                    border-radius: 5px;
                    background-size: 200% 100%;
                    animation: 1.5s shine linear infinite;
                }
            }

            .badge {
                background-color: $action;
                border-radius: 10px;
                padding: 5px 10px;
                color: white;
                margin: 10px 20px 0 10px;
                font-size: 0.8rem;
            }
        }

        .message {
            margin-top: 80px;
        }

        .sentiment-list {
            display: flex;
            column-gap: 20px;
            text-align: left;

            app-sentiment-informations {
                flex: 1;
                &:not(:last-of-type) {
                    border-right: solid 2px $primary;
                }
            }
        }
    }

    .go-back {
        margin-top: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon-container {
            width: 40px;
            height: 40px;
            border: solid 3px $action;
            border-radius: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            text-align: center;

            .icon {
                color: $action;
                font-size: 2.5rem;
                margin: auto;
                transition: all 200ms ease-in-out;
                &:hover {
                    font-size: 2.2rem;
                }
            }
        }

        .text {
            margin-left: 15px;
            color: $action;
            font-size: 1.3rem;
        }
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
