<div class="card"
  *ngIf="data?.quoteData">
  <div class="card-header">
    <!-- Quote title -->
    <div class="title-container">
      <div class="badge bold">{{data.symbol}}</div>
      <div class="title bold">{{data.name}}</div>
    </div>
    <!-- Remove button -->
    <div class="delete"
      (click)="onRemoveStock()">
      <div class="material-icons delete-icon">close</div>
    </div>
  </div>
  <div class="data-container">
    <!-- Left side: quote data -->
    <div class="data-grid">
      <div class="box"
        *ngFor="let box of dataBoxToShow">
        <div class="box-title bold">{{box.name}} :</div>
        <div class="box-value">
          <container-element [ngSwitch]="box.type">
            <ng-container *ngSwitchCase="CardTypeEnum.MONEY">
              {{ box.value | currency }}
            </ng-container>
            <ng-container *ngSwitchCase="CardTypeEnum.PCT">
              {{ box.value > 0 ? '+' + box.value : box.value }}%
            </ng-container>
            <ng-container *ngSwitchDefault="">
              {{ box.value }}
            </ng-container>
          </container-element>
        </div>
      </div>
    </div>
    <!-- Right side: trend icon -->
    <container-element [ngSwitch]="currentTrend">
      <div *ngSwitchCase="TrendEnum.UP"
        class="material-icons trend-icon success">trending_up</div>
      <div *ngSwitchCase="TrendEnum.DOWN"
        class="material-icons trend-icon error">trending_down</div>
      <div *ngSwitchDefault
        class="material-icons trend-icon">trending_flat</div>
    </container-element>
    <!-- See more-->
    <div class="see-more"
      (click)="onClickRedirection()">See sentiment details</div>
  </div>
</div>