@import "src/styles/_colors.scss";

.card {
    padding-top: 40px;

    .card-header {
        position: relative;
        margin-top: -70px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title-container {
            display: flex;
            align-items: center;

            .title {
                font-size: 2.5rem;
            }

            .badge {
                background-color: $action;
                border-radius: 10px;
                padding: 5px 10px;
                color: white;
                margin: 10px 20px 0 10px;
                font-size: 0.8rem;
            }
        }

        .delete {
            width: 30px;
            height: 30px;
            background-color: $primary;
            border-radius: 100%;
            margin-top: 10px;
            margin-left: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            z-index: 100;
            .delete-icon {
                color: $primary-dark;
                margin: auto;
                font-size: 1rem;
            }
        }
    }

    .data-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .data-grid {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 300px;

            .box {
                margin: 10px;
                margin-right: 20px;
                width: 120px;
            }
        }

        .trend-icon {
            font-size: 8rem;
            animation: flash 4s linear infinite;
            margin-top: -20px;

            &.success {
                color: $success;
            }

            &.error {
                color: $error;
            }
        }

        .see-more {
            position: relative;
            margin-left: -160px;
            margin-top: 95px;
            cursor: pointer;
            color: $action;
        }
    }
}

@keyframes flash {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.8;
    }
}
