<div class="sentiment">
  <div class="title bold">{{monthName}} {{monthData.year}}</div>
  <!-- trend icon -->
  <container-element [ngSwitch]="currentTrend">
    <div *ngSwitchCase="TrendEnum.UP"
      class="material-icons trend-icon success">trending_up</div>
    <div *ngSwitchCase="TrendEnum.DOWN"
      class="material-icons trend-icon error">trending_down</div>
    <div *ngSwitchCase="TrendEnum.STABLE"
      class="material-icons trend-icon error">trending_flat</div>
    <div *ngSwitchDefault
      class="material-icons trend-icon empty">bubble_chart</div>
  </container-element>
  <div class="infos-container">
    <div class="datas"
      *ngIf="monthData.change || monthData.mspr; else noData">
      <!-- Change -->
      <div class="box">
        <div class="box-title bold">
          Change :
        </div>
        <div class="box-value">
          {{monthData.change}}
        </div>
      </div>
      <!-- MSPR -->
      <div class="box">
        <div class="box-title bold">
          MSPR :
        </div>
        <div class="box-value">
          {{monthData.mspr}}
        </div>
      </div>
    </div>
    <ng-template #noData>No data available</ng-template>
  </div>
</div>