@import "src/styles/_colors.scss";

.sentiment {
    padding: 20px;

    .title {
        font-size: 1.2rem;
    }

    .infos-container {
        display: flex;
        align-items: center;
        flex: 1;
        width: 100%;

        .datas {
            display: flex;
            align-items: center;
            width: 100%;
            .box {
                margin-right: 30px;
            }
        }
    }

    .trend-icon {
        font-size: 5rem;
        animation: flash 4s linear infinite;
        margin-left: 160px;
        margin-top: -50px;

        &.success {
            color: $success;
        }

        &.error {
            color: $error;
        }

        &.empty {
            animation: none;
            opacity: 0.1;
        }
    }
}

@keyframes flash {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.8;
    }
}
