button {
    min-width: 100px;
    padding: 10px 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &.action {
        background-color: $action;
        color: white;
    }

    &.disabled {
        background-color: $disabled;
        cursor: not-allowed;
    }
}
