@font-face {
    font-family: Satoshi;
    src: url("/stock-tracker/assets/fonts/Satoshi-Regular.otf") format("opentype");
}

@font-face {
    font-family: SatoshiBold;
    src: url("/stock-tracker/assets/fonts/Satoshi-Bold.otf") format("opentype");
}

* {
    font-family: "Satoshi", "arial", sans-serif;

    .bold {
        font-family: "SatoshiBold", "arial", sans-serif;
    }
}
