.text-input {
    width: 200px;
    height: 35px;
    border: solid 2px $primary;
    border-radius: 30px;
    padding: 5px 20px;
    margin: 10px;
    box-sizing: border-box;
    color: $primary-dark;
    text-align: center;
}
