// Import style files
@import "colors.scss";
@import "card.scss";
@import "fonts.scss";
@import "levels.scss";
@import "form.scss";
@import "button.scss";
@import "material-icons/iconfont/material-icons.css";

html {
    background-image: linear-gradient(to right top, #f5f7fa, #e8edf4, #dce3ee, #cfd9e8, #c3cfe2);
    min-height: 100vh;
    align-items: center;
    color: $primary-dark;
    body {
        margin: 0;
        padding: 0;
        margin: auto;
    }
}
