<div class="card header center">
    <h1 class="title bold">STOCK TRACKER</h1>
    <div class="subtitle">Enter the symbol of a stock to track <span>(i.e. AAPL, TSLA, GOOGL)</span></div>
    <input class="text-input"
        type="text"
        style="text-transform: uppercase;"
        [formControl]="searchFormControl"
        (keydown.enter)="onSubmitForm()"
        autofocus />
    <button [ngClass]="searchFormControl.valid ? 'action' : 'disabled'"
        [disabled]="searchFormControl.invalid"
        (click)="onSubmitForm()">Track it !</button>
    <div class="error-message"
        *ngIf="searchFormControl.dirty && searchFormControl.errors?.['pattern']">
        Symbol must be a 1 to 5-letter code.
    </div>
</div>