@import "src/styles/_colors.scss";

:host {
    margin: auto;
    .header {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 50vw;
        min-width: 450px;
        max-width: 800px;
        margin: 0 20px;
        padding-top: 10px;
        box-sizing: border-box;
        z-index: 10;
        position: relative;

        .title {
            margin: 10px 0;
        }

        .subtitle {
            margin-bottom: 20px;
        }

        .error-message {
            color: $error;
        }
    }
}
