<!-- Search card -->
<app-search-card (newSearch)="onNewSearch()"></app-search-card>
<!-- Stock cards list -->
<div class="card-list"
    *ngIf="stockToShow?.length">
    <app-stock-card *ngFor="let stock of stockToShow; trackBy: trackByFn"
        [data]="stock"
        (removeCard)="onRemoveCard()"></app-stock-card>
</div>
<!-- Loader -->
<div class="loading"
    *ngIf="loadingBuffer !== 0">
    <div class="text">Updating data ... Please wait a short moment.</div>
</div>