@import "src/styles/_colors.scss";

:host {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-list {
        display: flex;
        width: 100%;
        margin-top: 100px;
        column-gap: 30px;
        row-gap: 60px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 0;
        padding: 0 20px 20px 20px;
        box-sizing: border-box;
    }

    .loading {
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        background: rgba(195, 207, 226, 0.5);
        position: absolute;
        z-index: 1;
        text-align: center;
        padding-top: 50vh;
        box-sizing: border-box;

        .text {
            color: $primary-dark;
            font-size: 1.2rem;
            background-color: white;
            width: fit-content;
            margin: auto;
            padding: 15px 25px;
            border-radius: 20px;
        }
    }

    .loader {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
}
